:root {
  --primary: oklch(75% 0.121 195.26);
  --primary-010: oklch(55% 0.2 195.26);

  --secondary: #06628a;
  --secondary-010: #06374e;

  --white: #fff;

  --black: #10101a;
  --black-010: #2a2a30;

  --grey: #9b9ba0;
}
